.searchbar {
    padding-left: 1rem;
    margin-left: 2rem;
    margin-top: 5rem;
  }
  
  .searchResults {
    display: flex;
    flex-wrap: wrap;
  }
  
  .indsearch {
    padding: 1rem;
    width: 250px;
  }