

.footer {
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    text-align: center;
    z-index: 1;
    height: 40px;

    
  }

  .fa {
    color: black;
    width: 50px;
   position: relative;
bottom: 1px }

.fa-facebook {
    font-size: 20px;
  }

  .fa-instagram {
 

      font-size: 20px;

    }
    .fa-twitter {
      
   
      font-size: 20px;
    }

    .footer li a:hover {
        transform: rotate(0deg) skew(0deg) translate(0, -10px);
    }