
  body {
    margin: 0;
    padding: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
background-color: black
  }
   /* *,
  *:before,
  *:after {
    box-sizing: inherit;
  } */
  ol{
    list-style-type: none;
  }
  li{
    list-style-type: none;
  }
  .App {
    width: 90%;
    max-width: 700px;
    margin: 2em auto;
  }
  
  .modal-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translateZ(0);
    background-color: rgba(0, 0, 0, 0.8);
  } 
  
  .modal-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.5em 1.5em 1.5em 1.5em;
    background: linear-gradient(45deg,red, blue);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    font-family:'Silkscreen', regular;
text-align: center;
   border: 0.2rem solid #fff; 
  border-radius: 2rem; 
  /*padding: 0.4em;*/
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem blue,
            0 0 0.8rem red,
            0 0 2.8rem red,
            inset 0 0 1.3rem ;  
}
  
  @media screen and (min-width: 500px) {
    /* Center the Modal! */
    .modal-area {
      left: 50%;
      top: 50%;
      height: auto;
      transform: translate(-50%, -50%);
      max-width: 35em;
      max-height: calc(100% - 1em);
    }
  }
  
  ._modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    line-height: 1;
    background: blue;
    /* border: 0;
    box-shadow: 0; */
    cursor: pointer;
  }
  
  ._modal-close-icon {
    width: 25px;
    height: 25px;
    /* fill: transparent; */
    stroke: white;
    /* stroke-linecap: round; */
    /* stroke-width: 2; */
  }
  
  .modal-body {
    padding-top: 0.9em;

  }
  ._hide-visual {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
  .github_logo{
    fill: black;
  }
  .github_button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
    text-align: center;
    align-items:center; 
    min-height:25px;
    /* background-color:#24292e;  */
    font-size:14px; 
    color:black; 
    text-decoration:none;
    background-color: white;
    position: relative;
bottom: 10px;
padding: 5px


  }
  
  /* .scroll-lock {
    overflow: hidden;
    margin-right: 17px;
  } */
  .login {
    position: relative;
    bottom: 30px;
  width: 100px;
margin-left: auto;
margin-right: auto;  
background-color: white;
padding: 5px
} 
.adminlogin {
  position: relative;
    bottom: 20px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;  
  background-color: white;
  padding: 5px

}  
.username {
  font-size: 20px;
  position: relative;
  color: white;
bottom: 25px;
}
input[name=username] {
  color: black
}
input[type=password] {
  color: black
}
input[name=email] {
  color: black
}

.adminc{
  color: white;
  font-size: 25px;
}

.adminbutton{
padding:10px;
position: relative;
top: 15px
}

.adminbutton:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}
.alreadyuser {

  color: black;
  padding: 5px;
  background-color: white;
  top: 15px;
  position: relative;


}

.createuser{
  color: black;
  padding: 5px;
  background-color: white;
  width: 160px;
  position: relative;
  bottom: 20px;
  left: 130px

}
.signup {
  font-size: 35px;
  font-weight: bold;
  color: white
}
.reset-password{
font: 50px}

.btn{
  background-color: black;
  font-family:'Silkscreen', regular;
  border-radius:10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
border: 1px solid white
}

.btn:hover {
  border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}