.main {
    border-style: solid;
    border-radius: 20px;
    font-family:'Silkscreen', regular;
    background: linear-gradient(to right,purple, pink);
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem blue,
    0 0 0.8rem red,
    0 0 2.8rem red,
    inset 0 0 1.3rem ;    
}
.admin{
    text-align: center;
    font-family:'Silkscreen', regular;

}
table {
    margin-left: auto;
    margin-right: auto;
}
tr {
    border: 1px solid white
}

th {
    border: 1px solid white;
    padding: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    color: white;

}

td {
    text-align: center;
    border: 1px solid white;
    padding: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: white;

}

h1.adminname {
    color: white;
    padding: 25px;
position: relative;
top:10px;
    font-weight: bold;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;
  }



h3.admindetails {
    color: white;
    padding: 25px;
font-size: 30px;
font-weight: bold;

}

.eacz {
font-size:25px;
color: white;

}

.editadmin{
    font-size:25px;
background-color: black;
border-radius: 15px;
color: white;

}
.editadmin:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }

.divider {
    font-size: 30px;
    padding: 25px;
    font-weight: bold;
    color: white;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;
}

h3.admintools {
    color: white;
    padding: 40px;
font-size: 30px;
font-weight: bold;
color: #fff;
text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #bc13fe,
  0 0 82px #bc13fe,
  0 0 92px #bc13fe,
  0 0 102px #bc13fe,
  0 0 151px #bc13fe;
}

h4.admintools1 {
    color: white;
font-size: 25px;
position: relative;
bottom:20px;

}

.createadmin{
    font-size:25px;
    border-radius: 15px;
}

.admin1{
text-align: center;
}

.delete{
    color: black
}

.edit{
    color: black
}

