.myaccount {
    color: white;
    font-family:'Silkscreen', regular;

}

h1.profilename {
    color: white;
    font-weight: bold;
    font-size: 45px;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;
}

h3.userdetails {
    color: white;
    font-size: 35px;
    padding: 15px

}

.buttonuser {
    font-size:25px;
background-color: black;
border-radius: 15px;
position: relative;
top:10px;
}

.buttonuser:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }

  .wishlista {
    font-size:35px;
padding: 20px;
color: #fff;
text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #bc13fe,
  0 0 82px #bc13fe,
  0 0 92px #bc13fe,
  0 0 102px #bc13fe,
  0 0 151px #bc13fe;
  }